* {
  box-sizing: border-box;
}

@font-face {
  font-family: "bpdotsregular";
  src: url("../fonts/BPdots-fontfacekit/web fonts/bpdots_regular_macroman/BPdots-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "codystarregular";
  src: url("../fonts/codystar-fontfacekit/web fonts/codystar_regular_macroman/codystar-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Palete*/
body {
  margin: 0;
  background-color: gray;
  background-color: #5B4E77;
  user-select: none;
}

.app {
  background-color: #5B4E77;
  display: flex;
  justify-content: center;
}

.calculator {
  width: 300px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  margin: 8rem;
}

#bothDisplays {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #000000;
  color: rgb(252, 102, 5);
}

#bothDisplays #display {
  text-align: right;
  padding: 5px;
  height: 5rem;
  font-family: codystarregular, bpdotsregular, regular;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
}

/*Appling non effect to text*/
#bothDisplays #display {
  color: rgb(252, 102, 5);
  text-shadow: 0 0 7px rgb(252, 102, 5), 0 0 10px rgb(252, 102, 5), 0 0 21px rgb(252, 102, 5), 0 0 42px rgb(252, 102, 5), 0 0 82px rgb(252, 102, 5), 0 0 92px rgb(252, 102, 5), 0 0 102px rgb(252, 102, 5), 0 0 151px rgb(252, 102, 5);
}

#clear {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #F24236;
}

#divide {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #F24236;
}

#multiply {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #F24236;
}

#subtract {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: #F24236;
}

#add {
  grid-column: 4/5;
  grid-row: 3/5;
  background-color: #F24236;
}

#equals {
  grid-column: 4/5;
  grid-row: 5/7;
  background-color: #F24236;
}

/*Style the number keys*/
#zero {
  grid-column: 1/3;
  grid-row: 6/7;
}

/*More style for the keys*/
#bothDisplays ~ div {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  cursor: pointer;
  font-family: monospace;
  color: #2F2B29;
  font-weight: bold;
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 4px 0 #777, 0 5px 0 #666, 0 6px 0 #555, 0 7px 0 #444, 0 8px 0 #333, 0 9px 7px #302314;
}

/*Fix the text shadow effect for the equal sign*/
#equals {
  text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 4px 0 #777, 0 5px 0 #666, 0 6px 0 #555, 0 7px 0 #9A9A9A, 0 8px 0 #898583, 0 9px 7px #302314 !important;
}

#one, #two, #three,
#four, #five, #six,
#seven, #eight, #nine,
#zero, #decimal {
  background: #2E86AB;
}

/*Click effects*/
#bothDisplays ~ div:hover {
  background: #F5F749;
  border-color: #F5F749;
  box-shadow: 0 0 7px #F5F749, 0 0 10px #F5F749, 0 0 21px #F5F749, 0 0 42px #F5F749, 0 0 82px #F5F749, 0 0 92px #F5F749, 0 0 102px #F5F749, 0 0 151px #F5F749;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */ 
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#bothDisplays ~ div:active {
  background: white;
}

/*Responsivness*/
/*Laptop screen*/
@media all and (max-width: 1200px) {
  .calculator {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
